html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.footer {
    margin-top: auto;
    background-color: #1c1e1d;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
}

.footer h1 {
    font-size: 14px;
    font-weight: 100;
}

.footer a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-social a:hover {
    color: #ae70ff;
    border-bottom: 2px solid white;
}
