
.document-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.document-text {
    width: 100%;
    max-width: 800px;
    background-color: #2f2f31;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 30px black;
}

.document-text h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.document-text p {
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
}
@media (min-width: 768px) {
    .document {
        padding: 20px;
    }
    .document-container {
        padding: 20px;
    }
}
@media (min-width: 992px) {
    .document {

        padding: 30px;
    }
    .document-container {
        width: 1140px;
        margin: 0 auto;
        padding: 30px;
    }
    .pdf-viewer {
        height: 700px;
       
    }

}
