.course-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow-x: auto; 
}

.course-container h3 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.course-cards {
    display: flex;
    flex-grow: 1;
    border-radius: 10px;
    justify-content: flex-start; /* Alinear los elementos al inicio */
    background-color: #2f2f31;
    box-shadow: 0 0 30px black;
    padding: 10px;
    overflow-x: auto; 
}

.course-cards a {
    width: 100%;
    text-decoration: none;
    color: #000;
    background-color: #2f2f31;
}

.course-card {
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #242426;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    transition: transform .5s;
    margin: 0 10px;
    
}

.course-card h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.course-card img {
    width: 100%;
    height: auto;
}
p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

@media (min-width:768px) {
    .course-cards {
        margin: 60px;
        padding: 30px;
    }
}

@media (min-width:992px) {
    .course-cards {
        margin: 60px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    }
    
    .course-container {
        width: 1140px;
        margin: 0 auto;
    }

    .course-card:hover {
        border: 3px solid #ae70ff;
        box-shadow: 0 4px 8px #ae70ff;
        transform: scale(1.05);
    }
}