
.lessons-container {
    padding: 20px;
}

.lessons-activity {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0px 30px black;
    border-radius: 10px;
    padding: 20px;
    background-color: #2f2f31;
}

.lesson {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 10px black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

.lesson:hover {
    border: 3px solid #ae70ff;
    box-shadow: 0 0 20px #ae70ff; 
    transform: scale(1.02);
}

.lesson-info {
    display: flex;
    align-items: center;
    color: white;
}

.play-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    color: #ae70ff;
}

.document-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    color: #ae70ff;
}

.toggle-switch {
    display: flex;
    align-items: center;
}

.toggle-switch input[type="checkbox"] {
    transform: scale(1);
    appearance: none;
    background-color: #fff;
    border: 2px solid #ae70ff;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.toggle-switch input[type="checkbox"]:checked {
    background-color: #ae70ff;
    border: 2px solid #ae70ff;
    box-shadow: 0 0 5px #ae70ff;
    position: relative;
}

.toggle-switch input[type="checkbox"]:checked::before {
    content: '✓';
    display: block;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.lessons-activity a {
    text-decoration: none;
   color: black;
}
.lessons-activity p {
    color: white;
}

@media(min-width: 768px) {
    .lessons-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .toggle-switch input[type="checkbox"] {
        transform: scale(1.2);
    }
}

@media(min-width: 992px) {
  
    .lessons-container {
        padding-left: 50px;
        padding-right: 50px;
        
    }
    .lessons-container {
        width: 1140px;
        margin: 0px auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    .lessons-activity {
        width: 100%;
    }
}